{% extends 'scheduling_app/base.html' %}

{% block title %}
Schedule
{% endblock %}

{% block body %}
{% load static %}
<div class="section-full p-t80 p-b50 bg-white inner-page-padding">
    <div class="container">

        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
            <div class="row">
                <div class="">                   
                    <!-- TITLE END -->                                                              
                    <div class="section-content p-b30">
                        <div class="mt-accordion acc-bg-gray" id="accordion5">
                            <div class="panel mt-panel">
                                <div class="acod-head acc-actives">
                                    <h6 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" >
                                            Schdeule
                                            <span class="indicator"><i class="fa"></i></span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne5" class="acod-body collapse in">
                                    <div class="acod-content p-tb15">
                                        <table>
                                            <thead>
                                                <th>Class</th>
                                                <th>Dept</th>
                                                <th>Course(number, max student)  </th>
                                                <th>Room(capacity)</th>
                                                <th>Instructor(ID)</th>
                                                <th>MeetingTime(ID)</th>
                                            </thead>
                                            <tbody>
                                                {% for class in classes %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ class.get_dept.get_name }}</td>
                                                    <td>{{ class.get_course.get_name }} ( {{ class.get_course.get_number }} )</td>
                                                    <td>{{ class.get_room.get_number }} ( {{ class.get_room.get_seatingCapacity }} )</td>
                                                    <td>{{ class.get_instructor.get_name }} ( {{ class.get_instructor.get_id }} )</td>
                                                    <td>{{ class.get_meetingTime.get_time }} {{ class.get_meetingTime.get_day }} ( {{ class.get_meetingTime.get_id }} )</td>
                                                    <!-- {% for r in rou %}
                                                        <td>{{ r }}</td>
                                                    {% endfor %} -->
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                                        
                    </div>

                    <div class="section-content p-b30">
                        <div class="mt-accordion acc-bg-gray" id="accordion5">
                            <div class="panel mt-panel">
                                <div class="acod-head acc-actives">
                                    <h6 class="acod-title">
                                        <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" >
                                            Schdeule
                                            <span class="indicator"><i class="fa"></i></span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne5" class="acod-body collapse in">
                                    <div class="acod-content p-tb15">
                                            
                                    </div>
                                </div>
                            </div>
                        </div>                                        
                    </div>
                </div>
        </div>
    </div>
</div> 
{% endblock %}